body{
    margin-left:20px;
    margin-top:20px;
    font-family:monospace;
    font-size:16px;
    position:relative;
    float:center;    
}
.bill{
    
    
}

.do{
    position:relative;
    left:10px;
    z-index:1;
}
.dos{
    left:20px;
}
.num{
    position:relative;
    margin-top:10px;
    left:-15px;
    height:40px;
    border-radius:5px;
    text-align:right;
    padding-right:10px;
    font-size:20px;
    width:90%;
    background-color:rgb(240,240,250);
    border:none;
}
.st{
    margin-top:20px;
    margin-bottom:20px;
    
}
.but{
    height:40px;
    width:45%;
    border-radius:5px;
    border:none;
    font-size:20px;
    background-color:rgb(7%,15%,7%);
    color:white;
    text-align:center;
}
.but:hover{background-color:green;}
.no{
    margin-top:25px;
}
.ca{
    float:right;
    position:relative;
    right:10%;
    color:red;
}
.b2{
    background-color:rgb(7%,15%,7%);
    color:white;
    margin-top:20px;
    
    width:85%;
    padding:10px;
    padding-top:20px;
    border-radius:5px;
}
.fl{
    float:right;
    font-size:20px;
    color:green;
}
.re{
    width:90%;
    float:center;
    height:40px;
    font-size:20px;
    border-radius:5px;
    background-color:green;
    color:black;
    border:none;
    margin-bottom:15px;
}
.pe{
    font-size:12px;
    color:rgb(50%,50%,50%);
}
